/*Variables*/

/*Colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*html*/
html {
  scroll-behavior: smooth;
}

/*text*/
p,
h1,
h2 {
  color: #0e0e0e;
}

h1,
h2,
h3 {
  font-family: "Archivo Black", sans-serif;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", sans-serif;
}

/*body*/
body {
  background-color: #f8f8f8;
}

/*Header section*/
header {
  display: block;
  padding: 0;

  .headerBackground {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/photos/donutHeader.webp");
    background-size: cover; 
    background-position: center;
    height: 730px;
    background-color: aqua;
  }
}
header .heading {
  background-color: #f8f8f8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .heading img {
  max-width: 65%;
  margin-top: -5px;
}
header nav {
  background-color: rgba(255, 255, 255, 0.85);
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: all 0.4s ease-in-out;
  right: -100vw;
  position: fixed;
  z-index: 2;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 70px;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
header nav a {
  text-decoration: none;
  color: #0e0e0e;
}
header .checkbox {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  width: 45px;
  height: 45px;
  opacity: 0;
  cursor: pointer;
}
header button {
  width: 45px;
  height: 45px;
  background: transparent;
  border: 0;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 3;
  pointer-events: none;
}
header button span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #f96c9e;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  margin-left: 6px;
}
header button span:nth-child(2) {
  margin-left: 0;
  transition: all 0.4s ease-in-out;
}
header input:hover + .menu button span:nth-child(2) {
  left: 6px;
}
header input:checked + .menu nav {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  right: 0vw;
}

/*Main section*/
main {
  padding: 15px;

  .dimmer {
    display: none;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #0e0e0e;
  }
}
main .donut-container {
  margin-bottom: 50px;
  max-width: 490px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin: auto;
  margin-bottom: 3rem;
}
main .donut-container button {
  background-color: #0e0e0e;
  color: #f8f8f8;
  padding: 5px 10px;
  border: none;
}
main .donut-image-container {
  width: 100%;
}
main .donutBox {
  position: fixed;
  background-color: #f8f8f8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(103, 103, 103);
  z-index: 6;
}
main .donutBox p,
main h3 {
  margin: 10px;
  font-size: 0.7rem;
}
main .slideControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .images {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
main #img1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main #img2 {
  position: relative;
  top: 0;
  left: 0;
}

main .indicator {
  text-align: center;
}
main .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
main .selected {
  height: 25px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
main .donutBox h1 {
  margin: 10px;
  font-size: 1.3rem;
  text-align: center;
}
main .donut-info-container {
  margin-left: 2rem;
  width: 100%;
}
main .donut-info-container h2,
main span,
main p {
  color: #0e0e0e;
}
main .donut-info-container button {
  background-color: #d9d9d9;
  color: #0e0e0e;
  margin-top: 1rem;
  margin-right: 1.2rem;
  height: 30px;
  width: 30px;
}
main .donut-info-container .checked,
main .unchecked {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .donut-info {
  display: none;
}
main .unchecked {
  color: #a7a7a7;
}
main img {
  max-width: 100%;
}
main .checked {
  color: #f96c9e;
}
main .checkout-container {
  display: none;
  background-color: #616161;
}
main .checkout-container p,
main input {
  margin-left: 3rem;
}
main .checkout-container p,
main .payment {
  color: #f8f8f8;
}

.paymentCardContainer {
  display: none;
}

.paymentInvoiceContainer {
  display: none;
}

.visible {
  display: block;
}

/*Footer section*/
footer {
  background-color: #f96c9e;
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .fa-cart-shopping {
  color: #f8f8f8;
  font-size: 2.1rem;
  margin: 0;
  margin-top: 7px;
}
footer h2 {
  margin: 0;
  color: #f8f8f8;
}
footer p {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 1.1rem;
}
footer .tot-sum {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .donutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1264px) {
  .donutContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .postal-address-container {
    display: flex;
    gap: 15px;
  }
  .postal-address-container .postalcode {
    max-width: 100px;
  }
  .postal-address-container {
    display: flex;
    gap: 15px;
  }
  .postal-address-container .postalcode {
    max-width: 100px;
  }
  main {
    padding: 15px;
    max-width: 1400px;
    margin: auto;
  }
  .postal-address-container {
    display: flex;
    gap: 15px;
  }
  .postal-address-container .postalcode {
    max-width: 100px;
  }
}