/*Variables*/

/*Colors*/
$primaryColor: #f8f8f8;
$secondaryColor: #f96c9e;
$textColor: #0e0e0e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*html*/
html {
  scroll-behavior: smooth;
}
/*text*/

p,
h1,
h2 {
  //Text color
  color: $textColor;
}

h1,
h2,
h3 {
  //Font family
  font-family: "Archivo Black", sans-serif;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", sans-serif;
}

/*body*/

body {
  background-color: $primaryColor;
}

/*Header section*/

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .heading {
    background-color: $primaryColor;

    img {
      max-width: 65%;
      margin-top: -5px;
    }
  }

  nav {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100vw;
    height: 100vh;
    top: 0;
    transition: all 0.4s ease-in-out;
    right: -100vw;
    position: fixed;
    z-index: 2;
  }

  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 70px;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
  }

  nav a {
    text-decoration: none;
    color: $textColor;
  }

  .checkbox {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 45px;
    height: 45px;
    opacity: 0;
    cursor: pointer;
  }

  button {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 3;
    pointer-events: none;
  }

  button span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: $secondaryColor;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    margin-left: 6px;
  }

  button span:nth-child(2) {
    margin-left: 0;
    transition: all 0.4s ease-in-out;
  }

  input:hover + .menu button span:nth-child(2) {
    left: 6px;
  }

  input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    right: 0vw;
  }
}

/*Main section*/

main {
  padding: 15px;

  .donut-container {
    margin-bottom: 50px;
    max-width: 490px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin: auto;
    margin-bottom: 3rem;

    button {
      background-color: $textColor;
      color: $primaryColor;
      padding: 5px 10px;
      border: none;
    }
  }

  .donut-image-container {
    width: 100%;
  }

  .donut-info-container {
    margin-left: 2rem;
    width: 100%;
  }
  .donut-info-container h2,
  span,
  p {
    color: $textColor;
  }

  .donut-info-container button {
    background-color: #d9d9d9;
    color: $textColor;
    margin-top: 1rem;
    margin-right: 1.2rem;
    height: 30px;
    width: 30px;
  }
  .donut-info-container .checked,
  .unchecked {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .donut-info {
    display: none;
  }

  .unchecked {
    //rating
    color: #a7a7a7;
  }

  img {
    max-width: 100%;
  }

  .checked {
    color: $secondaryColor;
  }
  .checkout-container {
    display: none;
    background-color: #616161;
  }
  .checkout-container p,
  input {
    margin-left: 3rem;
  }

  .checkout-container p,
  .payment {
    color: $primaryColor;
  }
}

.paymentCardContainer {
  display: none;
}

.paymentInvoiceContainer {
  display: none;
}

.visible {
  display: block;
}

/*Footer section*/

footer {
  background-color: $secondaryColor;
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .fa-cart-shopping {
    color: $primaryColor;
    font-size: 2.1rem;
    margin: 0;
    margin-top: 7px;
  }

  h2 {
    margin: 0;
    color: $primaryColor;
  }

  p {
    color: $primaryColor;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .tot-sum {
    color: $primaryColor;
    font-weight: bold;
    font-size: 1.1rem;
  }
}
